
CREATE TABLE IF NOT EXISTS messages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  sender_email text NOT NULL,
  receiver_email text NOT NULL,
  content text NOT NULL,
  created_at timestamptz DEFAULT now()
);

-- Enable RLS
ALTER TABLE messages ENABLE ROW LEVEL SECURITY;

-- Allow reading messages where you are sender or receiver
CREATE POLICY \
Users
can
read
their
messages\
ON messages FOR SELECT
TO authenticated
USING (auth.jwt() ->> 'email' = sender_email OR auth.jwt() ->> 'email' = receiver_email);

-- Allow inserting messages where you are the sender
CREATE POLICY \Users
can
insert
messages\
ON messages FOR INSERT
TO authenticated
WITH CHECK (auth.jwt() ->> 'email' = sender_email);

